# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jim Hessin
	email = jhessin@gmail.com
[core]
	editor = vim
  pager = less
[push]
  default = upstream
[difftool]
  prompt = false
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[advice]
  detachedHead = false
